<form method="POST" action="/lists" class="well">
  <label class="bluelink" for="name">Name: </label>
  <input id="name" type="text" name="name" class="form-control">
  <br>
  <label for="link">URL: </label>
  <input type="text" name="link" class="form-control">
  <br>
  <label for="description">Description: </label>
  <textarea name="description" class="form-control" id="" cols="30" rows="5"></textarea>
  <br>
  <hr>
  <label for="secret">Private Bookmark: </label><input type="checkbox" name="secret">
  <br>
  <label>Choose Existing Bookmarks:   </label>
  <% current_user.bookmarks.each do |bookmark| %>
    <input type="checkbox" name="user[bookmark_ids][]" value="<%= bookmark.id %>"><em> <%= bookmark.name %></em></input>
  <% end %>
  <br>
  <hr>
  <input type="submit" class="btn btn-default" value="Create New Link">

</form>