@media (max-width: 890px) {
  .greeting {
    display: none;
  }
}

span.bluelink {
  color: rgb(97,180,145);
  font-family: monospace;
  font-size: 1em;
}

body#asanoha {
  background: url("asanoha-400px.png");
}
