<!DOCTYPE html>
<html>
  <head>
    <title>linkfiend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  <body>


      <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="color:rgb(97,180,145); font-family: monospace; font-size: 2.5em; font-weight: bold">linkfiend</a>
        <% if logged_in? %>

        </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/my_bookmarks"><span style="font-weight:bold" class="bluelink">My Links</span></a>
              </li>
              <li>
                <a href="/bookmarks/new"> <span style="font-weight:bold" class="bluelink">New Link</span></a>
              </li>
              <li>
                <a href="/"> <span style="font-weight:bold" class="bluelink">All Links</span></a>
              </li>
              <li>
                <a href="/lists/new"> <span style="font-weight:bold" class="bluelink">New List</span></a>
              </li>
              <li>
                <a href="/lists/my"> <span style="font-weight:bold" class="bluelink">My Lists</span></a>
              </li>
              <li>
                <a href="/lists"> <span style="font-weight:bold" class="bluelink">All Lists</span></a>
              </li>
              <li>
                <a href="/logout"> <span style="font-weight:bold" class="bluelink">Logout</span></a>
              </li>
              <li>
                <% if User.any? %>
                  <a class="greeting"><span style="font-weight:bold" class="bluelink"><u>Welcome, <%= current_user.username %></span></u></a>
                <% end %>

              </li>
            </ul>

        <% end %>
        </div><!--/.nav-collapse -->

      </nav>

      <div>
            <%if @error then %>
                <div class="alert alert-error"><%=@error%></div>
            <% end %>
              <% if flash.has?(:message) %>
                <%= flash[:message] %>
              <% end %>

            <%= yield %>
      </div>

  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
